In [8]:
from google.cloud import bigquery

bq_client = bigquery.Client(project="infinitepay-production")

/home/carolxavier/anaconda3/lib/python3.9/site-packages/google/auth/_default.py:76: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [28]:
with open('ra_features.sql', 'r') as file:
    sql_query = file.read()

In [29]:
df = bq_client.query(sql_query).to_dataframe()
df.head()

,merchant_id,event_timestamp,count_ra_from_merchant_unbounded,count_ra_from_merchant_last_90d,count_ra_from_merchant_last_60d,count_ra_from_merchant_last_30d,count_ra_from_merchant_last_15d,count_ra_from_merchant_last_7d,count_ra_resolved_unbounded,count_ra_resolved_last_90d,...,max_ra_time_first_reply_seconds_from_merchant_last_60d,max_ra_time_first_reply_seconds_from_merchant_last_30d,max_ra_time_first_reply_seconds_from_merchant_last_15d,max_ra_time_first_reply_seconds_from_merchant_last_7d,min_ra_time_first_reply_seconds_from_merchant_unbounded,min_ra_time_first_reply_seconds_from_merchant_last_90d,min_ra_time_first_reply_seconds_from_merchant_last_60d,min_ra_time_first_reply_seconds_from_merchant_last_30d,min_ra_time_first_reply_seconds_from_merchant_last_15d,min_ra_time_first_reply_seconds_from_merchant_last_7d
0,6132,2019-09-16 17:37:00.511000+00:00,0,0,0,0,0,0,0,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,16235,2019-12-26 05:38:51.371000+00:00,0,0,0,0,0,0,0,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,40153,2020-07-28 20:54:27.961000+00:00,0,0,0,0,0,0,0,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,42256,2020-08-17 14:32:24.567000+00:00,0,0,0,0,0,0,0,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,43819,2020-08-31 14:55:09.499000+00:00,0,0,0,0,0,0,0,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>